@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes marquee-y {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%);
    }
  }

  .animate-marquee-y {
    animation: marquee-y 20s linear infinite;
  }
}
